<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Favourite Books</h1>
        </div>
      </div>     
      <table>
        <tr>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry1.jpg" height="500px" width="300px"/>
                </div>
            </td>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry2.jpg" height="500px" width="300px"/>
                </div>
            </td>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry3.jpg" height="500px" width="300px"/>
                </div>
            </td>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry4.jpg" height="500px" width="300px"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry5.jpg" height="500px" width="300px"/>
                </div>
            </td>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry6.jpg" height="500px" width="300px"/>
                </div>
            </td>
            <td>
                <div class="col">
                    <img src="../../../Assets/images/harry7.jpg" height="500px" width="300px"/>
                </div>
            </td>
        </tr>
      </table>    
    </div>

<% include ../partials/footer.ejs %>