<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container">
    <div class="about-page">
      <div class="text-center text-justify">
        <img src="../Assets/images/IMG-2363.jpg" height="230px" width="200px"/>
      
      <p class="pb-4">I am currently enrolled in Software Engineering Technician course at Centennical College, Canada.
      I have completed my Computer Science Engineering at Muffakhum Jah College, India and a Dev Intern at Zemoso Technologies.
      I have worked with kali linux , AWS , web-based and multi-threaded applications .In addition , i have experience in Data Structures &amp; Algorithms and DBMS .I worked on two projects related to networking and cyber security.
      In addition to my skills in coding, I am skilled in troubleshooting problems and resolving bugs as well as have good soft skills.</p>
      <a href="../Assets/files/ResumeIkram.pdf" class="alert alert-info " target="_blank" rel="noopener noreferrer">My Resume</a>
    </div>
    </div> 
</main>
  
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

