<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container">
  <div class="jumbotron">
    <div class="contact-page text-center ">
      <h6>Contact:</h6>
      <p>Phone: +1 437-215-4065<br>Address: 17 Tordale Cres, Scarborough,<br> Ontario, Canada. M1P 2XC</p>
      <a href="https://www.linkedin.com/in/ikramuddin-syed-khaja-56839522a/" target="_blank"><img src="../Assets/images/linkedin-logo.png" height="100" width="100"></a>
      <a href="https://github.com/Syed-Ikram?tab=repositories" target="_blank"><img src="../Assets/images/GitHub-logo.png" height="100" width="100"></a>
      
      <h4>To further contact me, enter your details:</h4>
      <form class="contact-form" >
        <label for="fname">First Name:</label>
        <input type="text" id="fname" placeholder="enter first name">
        <br>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" placeholder="enter last name">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="enter email">
        <br>
        <label for="mobile">Mobile:</label>
        <input type="text" id="message" placeholder="enter message">
        <br>
        <label for="message">Message:</label>
        <input type="text" id="mobile" placeholder="enter mobile number">
        <br>
        <input type="submit">
      </form>
    </div>
  </div>
  </main>
  
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

