<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container">
  <div class="project-page">
    <a href="https://github.com/syed-ikram/blinklist-app"  target="_blank" rel="noopener noreferrer"> <h3>Blinklist-app</h3></a>
    <p>Application built using React.js. Its an application for ebook library.</p>

    <a href="https://github.com/syed-ikram/restuarantApp"  target="_blank" rel="noopener noreferrer"> <h3>Restaurant-app</h3></a>
    <a href="https://syed-ikram.github.io/javascript/restaurantApp.html"> Link to App</a>
    <p>Application built using javascript, html and css. Its an application for managing tables in restaurant.</p>

    <a href="https://github.com/syed-ikram/spring"  target="_blank" rel="noopener noreferrer"> <h3>CRM-app</h3></a>
    <p>Application built using Spring and jsp. Its an application on CRUD operations.</p>

  </div>  
    
</main>
  
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

