<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs')%>
  
<main class="container">
  <div class="jumbotron">
    <marquee scrollamount="10"><h3 class=" display-6 container center">Hello! Welcome to my Personal Portfolio Application<h3></marquee>
  </div>
  <div class="text-center mt-50">
    <p>"Success is not final; failure is not fatal: It is the courage to continue that counts."-- Winston S. Churchill
      <br>"It is better to fail in originality than to succeed in imitation."-- Herman Melville
      <br>"Try not to become a man of success. Rather become a man of value."-- Albert Einstein</p>
    <h1>Our Mission</h1>
    <p class="display-6"> Bring everyone the inspiration to create a life they love.<br>To bring beauty into the world through graphic design.</p>   
    <br><br><br>
    <p>Click the Buttons(For Fun)</p>
    <a class="btn btn-dark" href="/about" role="button">About</a>
    <a class="btn btn-dark" href="/projects" role="button">Projects</a>
    <a class="btn btn-dark" href="/services" role="button">Services</a>
    <a class="btn btn-dark" href="/contact" role="button">Contact</a>
  </div>
</main>
  
 
  
  <!--Script section-->
  <%-include ('partials/bottom_nav.ejs')%>
  <%-include ('partials/footer.ejs')%>

