<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs')%>
  
<main class="container">
  <div class="jumbotron">
    <div>
      <h3>As of now ,my Skills include:</h3>
      <ul>
          <li>HTML &amp; CSS</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>Kali Linux</li>
          <li>Linux Adiminstration</li>
          <li>AWS Cloud practitioner Essentials</li>
          <li>C++ &amp; C</li>
          <li>Git</li>
          <li>Microsoft Word &amp; Power point</li>
          <li>DBMS</li>
      </ul>
      <h3>My Certifications and Achivements include:</h3>
      <ol>
          <li>I got Nptel Certifications in C++ and DBMS.</li>
          <li>I got AWS Cloud practitioner certification from coursera.</li>
          <li>I played for nationals in basketball from my school.</li>
          <li>I have been associate operations head of CSI MJCET for 2 years.</li>
          <li>I have done my two college projects related to cyber security.</li>
      </ol>
      <h4>Services I offer:</h4>
      <ul>
        <li>Web Developer</li>
        <li>Security Analyst</li>
        <li>Cloud Adiminstrator</li>
        <li>Ethical Hacker</li>
        <li>Software Developer</li>
      </ul>
      <img src="../Assets/images/ethical.jpg" height="270px" width="350px"/>
      <img src="../Assets/images/cloud.jpg" height="270px" width="350px"/>
      <img src="../Assets/images/software.jpg" height="270px" width="350px"/>
    </div>
  </main>
  
 
  
  <%-include ('partials/bottom_nav.ejs')%>
  <%-include ('partials/footer.ejs')%>
